.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-grow: 1;
    flex-basis: calc(100% / 3 - 2rem);
    margin: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

    &--content {
      padding: 1rem;
    }

    &--header {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1rem;
      background: $c-nav-bar;
      color: #fff;
    }

    &--players {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    &--score {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
  }
}
